h1 {
  background-color: red;
  padding: 20px;
  margin: 40px;

  border: solid 3px black;
}

p {
  background-color: yellow;

  padding: 30px;
  margin: 10px;
  border: solid 1px black;

}
.side_menu li {
  background-color: #F5B4B3;
  height: 6rem;
  margin-bottom: 10px;
}
